<div class="container">
    <div class="row mt-3">
        <div class="col-md-4 col-xs-12 mb-3">
            <div class="card" style="width: 18rem;">
                <h1 class="card-title">Student # {{data.id}}</h1>
                <img [src]="data.avatar" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{data.first_name}}</h5>
                    <h5 class="card-title">{{data.last_name}}</h5>
                    <h5 class="card-title">{{data.email}}</h5>
                </div>
            </div>
        </div>
    </div>
</div>
